# binaries
caldo
*.exe
*.exe~
*.dll
*.so
*.dylib

# go test artifacts
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# database artifacts
*.db
*.db-wal
*.db-shm

# generated frontend assets
web/static/app.*.css
web/static/app.*.js

# workspace / env
go.work
go.work.sum
.env

# misc
dist/
